<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wlauty</title>
</head>
<body>
<label for="currency">Wybierz walutę</label>
<form method="post" action="/">
<select name="code" id="currency">
    <option value="USD" >dolar amerykański</option>
    <option value="AUD">dolar australijski</option>
    <option value="CAD">dolar kanadyjski</option>
    <option value="EUR">euro</option>
    <option value="HUF">forint (Węgry)</option>
    <option value="CHF">frank szwajcarski</option>
    <option value="GBP">funt szterling</option>
    <option value="JPY">jen (Japonia)</option>
    <option value="CZK">korona czeska</option>
    <option value="DKK">korona duńska</option>
    <option value="NOK">korona norweska</option>
    <option value="SEK">korona szwedzka</option>
    <option value="XDR">SDR (MFW)</option>

</select><br>
    <label for ="quantity">Ile chcesz kupić?</label><br>
    <input name="quantity" type="text" id="quantity">
    <input type="submit" name="submit" value="Przelicz">
</form>

</body>
</html>